/* Reset styles
*******************************/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio[controls],
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
html {
  overflow-y: scroll;
  /* 1 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
}
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
li,
ol,
a,
em,
img,
strong,
fieldset,
form,
label,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
}
:focus {
  outline: 0;
}
img {
  vertical-align: middle;
  outline: 0;
}
input,
textarea {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}
html,
body,
textarea,
input {
  -webkit-text-size-adjust: none;
}
/* Wordpress Typo
*******************************/
.story {
  line-height: 1.5;
}
.story ul {
  list-style: square;
}
.story ul li {
  list-style: square;
}
.story ol {
  list-style: decimal;
}
.story ol li {
  list-style: decimal;
}
.story ul,
.story ol {
  margin: 0 0 1em 1.5em;
  line-height: 1.5;
}
.story ul ul,
.story ol ul,
.story ul ol,
.story ol ol {
  margin-bottom: 0;
}
.story ol ol {
  list-style: upper-alpha;
}
.story ol ol ol {
  list-style: lower-roman;
}
.story ol ol ol ol {
  list-style: lower-alpha;
}
.story h1,
.story h2,
.story h3,
.story h4,
.story h5,
.story h6 {
  text-transform: none;
  margin-bottom: .5em;
}
.story a {
  -webkit-transition: color 100ms linear;
  -moz-transition: color 100ms linear;
  -ms-transition: color 100ms linear;
  -o-transition: color 100ms linear;
  transition: color 100ms linear;
}
.story a:link,
.story a:visited,
.story a:hover,
.story a:active {
  text-decoration: underline;
}
.story table {
  width: auto;
  border-collapse: collapse;
  margin-bottom: 18px;
}
.story table td,
.story table th {
  padding: 6px 10px;
  text-align: center;
  border: 1px solid #ccc;
}
.story table th {
  font-weight: bold;
}
.story pre {
  border: 1px solid #ccc;
  background: #eee;
  padding: 1em 2em;
  margin-bottom: 1em;
}
.story blockquote {
  font-style: italic;
  margin: 1em 3em;
}
.story blockquote p:before {
  content: '"';
}
.story blockquote p:after {
  content: '"';
}
.story img.size-auto,
.story img.size-full,
.story img.size-large,
.story img.size-medium,
.story .attachment img {
  max-width: 100%;
  /* When images are too wide for containing element, force them to fit. */
  height: auto;
  /* Override height to match resized width for correct aspect ratio. */
}
.story .alignleft,
.story img.alignleft {
  display: inline;
  float: left;
  margin-right: 1em;
}
.story .alignright,
.story img.alignright {
  display: inline;
  float: right;
  margin-left: 1em;
}
.story .aligncenter,
.story img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.story img.alignleft,
.story img.alignright,
.story img.aligncenter {
  margin-bottom: 1em;
}
.story .wp-caption {
  line-height: 1.5;
  margin-bottom: 1em;
  text-align: center;
}
.story .wp-caption p.wp-caption-text {
  color: #888;
  font-size: 11px;
  margin: 0;
  padding: 5px;
}
.story .wp-smiley {
  margin: 0;
}
/* Plugins styles
*******************************/
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}
.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.fancybox-opened {
  z-index: 8030;
}
.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.fancybox-outer,
.fancybox-inner {
  position: relative;
}
.fancybox-inner {
  overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}
.fancybox-image,
.fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}
#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
  background-image: url('../img/fancybox_sprite.png');
}
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url('../img/fancybox_loading.gif') center center no-repeat;
}
.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url('../img/blank.gif');
  /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040;
}
.fancybox-prev {
  left: 0;
}
.fancybox-next {
  right: 0;
}
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}
.fancybox-nav:hover span {
  visibility: visible;
}
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}
/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}
.fancybox-lock body {
  overflow: hidden !important;
}
.fancybox-lock-test {
  overflow-y: hidden !important;
}
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url('../img/fancybox_overlay.png');
}
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}
/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}
.fancybox-opened .fancybox-title {
  visibility: visible;
}
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}
.fancybox-title-inside-wrap {
  padding-top: 10px;
}
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}
/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading,
  .fancybox-close,
  .fancybox-prev span,
  .fancybox-next span {
    background-image: url('../img/fancybox_sprite@2x.png');
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
  #fancybox-loading div {
    background-image: url('../img/fancybox_loading@2x.gif');
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}
@-webkit-keyframes example {
  
}
@-moz-keyframes example {
  
}
@-o-keyframes example {
  
}
@keyframes example {
  
}
/* Link styles
*******************************/
a {
  color: inherit;
  text-decoration: none;
}
/* Placeholders
*******************************/
input[type="text"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: inherit;
}
input[type="text"]:-moz-placeholder,
input[type="url"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
textarea:-moz-placeholder {
  color: inherit;
}
input[type="text"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
}
input[type="text"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: inherit;
}
input[type="text"]:focus::-webkit-input-placeholder,
input[type="url"]:focus::-webkit-input-placeholder,
input[type="email"]:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
input[type="text"]:focus:-moz-placeholder,
input[type="url"]:focus:-moz-placeholder,
input[type="email"]:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent;
}
input[type="text"]:focus::-moz-placeholder,
input[type="url"]:focus::-moz-placeholder,
input[type="email"]:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent;
}
input[type="text"]:focus:-ms-input-placeholder,
input[type="url"]:focus:-ms-input-placeholder,
input[type="email"]:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
}
/* Paragraphs
*******************************/
p {
  line-height: inherit;
  text-align: inherit;
}
p:last-child {
  margin-bottom: 0;
}
p a {
  text-decoration: underline;
}
p a:hover {
  text-decoration: none;
}
/* Image
*******************************/
img {
  max-width: 100%;
  height: auto;
}
/* Headers
*******************************/
/* Frequently used elements
*******************************/
/* Vertical align
*******************************/
.in {
  position: relative;
  width: 100%;
  height: 100%;
  display: table;
}
.in > .in {
  display: table-cell;
  vertical-align: middle;
}
/* Socials
*******************************/
/* Fonts
*******************************/
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue().eot');
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue().woff') format('woff'), url('../fonts/HelveticaNeue().svg#HelveticaNeue') format('svg');
}
@font-face {
  font-family: 'HelveticaNeue-UltraLight';
  src: url('../fonts/helul/HelveticaNeue().eot');
}
@font-face {
  font-family: 'HelveticaNeue-UltraLight';
  src: url('../fonts/helul/HelveticaNeue().woff') format('woff'), url('../fonts/helul/HelveticaNeue().svg#HelveticaNeue-UltraLight') format('svg');
}
/* Custom variables
*******************************/
/* Main styles
*******************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: url("../img/bg_body.jpg") 0 0 no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background-attachment: fixed;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ababab;
}
.wrapper {
  width: 100%;
  height: 100%;
}
#content-main {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 100px;
  padding-left: 150px;
}
html,
body {
  width: 100%;
  height: 100%;
}
/* Header
*******************************/
.header-main {
  background-color: rgba(28, 45, 57, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding-top: 30px;
  padding-bottom: 30px;
  max-height: 100px;
}
.header-main-inner {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}
.searchform {
  position: relative;
}
.searchform form {
  width: 250px;
  text-align: right;
}
.searchform form:after {
  display: block;
  clear: both;
  content: "";
}
.searchform input {
  float: left;
}
.searchform input[type="text"] {
  width: 210px;
  height: 40px;
  border: none;
  padding: 10px;
}
.searchform input[type="submit"] {
  background: transparent;
  border: none;
  padding: 0;
  color: #ababab;
}
.searchform input[type="submit"],
.searchform .icon-search {
  height: 40px;
  width: 40px;
  text-indent: -999em;
}
.searchform .icon-search {
  position: absolute;
  top: 0;
  right: 0;
}
.searchform .icon-search:before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  margin-top: 8px;
  margin-left: 8px;
  background: url("../img/sprites.png") -50px -150px no-repeat;
}
/* Main Navigation
*******************************/
.nav-main {
  position: absolute;
  left: 0;
  height: 100%;
  width: 150px;
  top: 0;
  bottom: 0;
  z-index: 9;
  padding-top: 100px;
  text-align: center;
}
.nav-main .nav-main-in {
  height: 100%;
  padding-top: 100px;
  background-color: rgba(25, 36, 57, 0.5);
}
.nav-main .menu-item {
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  padding: 20px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}
.nav-main .menu-item a {
  font-family: HelveticaNeue;
  letter-spacing: 1px;
  position: relative;
  padding-top: 50px;
  color: #b9b9b9;
  display: block;
}
.nav-main .menu-item a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  background: url("../img/sprites.png") no-repeat;
}
.nav-main .menu-item-dashboard a:before,
.nav-main .menu-item-people a:before {
  width: 37px;
  height: 37px;
  margin-left: -16px;
}
.nav-main .menu-item-projects a:before {
  width: 26px;
  height: 31px;
  margin-left: -13px;
}
.nav-main .menu-item-dashboard a:before {
  background-position: 0 0;
}
.nav-main .menu-item-people a:before {
  background-position: -50px 0;
}
.nav-main .menu-item-projects a:before {
  background-position: -100px 0;
}
.nav-main #menu-item-165:after {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;
  height: 37px;
  width: 37px;
  background: url(../img/dashboard.png) center center no-repeat;
}
/* Project Single
*******************************/
.project-single {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.project-single:after {
  display: block;
  clear: both;
  content: "";
}
.project-single .left-side {
  float: left;
  width: 30%;
  height: 100%;
  background-color: rgba(248, 248, 248, 0.5);
}
.project-single .left-side .container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: 35px;
}
.project-single .left-side h3 {
  padding-top: 40px;
  color: #fff;
  font: 80px HelveticaNeue-UltraLight;
}
.project-single .left-side .back {
  color: #fff;
  font: 16px HelveticaNeue;
}
.project-single .left-side .back:before {
  content: "<";
  padding-right: 15px;
}
.project-single .left-side .status {
  position: absolute;
  top: 26px;
  right: 0;
  text-align: center;
  width: 80px;
  height: 30px;
  font: 13px/28px HelveticaNeue;
  color: #fff;
  background-color: rgba(26, 39, 59, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.project-single .left-side .status:after {
  content: "";
  position: absolute;
  top: -20px;
  right: 0px;
  left: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  background-color: #4cd864;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.project-single .left-side .status:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgba(26, 39, 59, 0.3);
}
.project-single .left-side time {
  display: block;
  padding-top: 25px;
  font: 36px HelveticaNeue;
  color: #fff;
}
.project-single .people {
  padding-top: 60px;
  width: 80%;
  color: #fff;
  font: 20px HelveticaNeue;
}
.project-single .people li {
  padding: 12px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.project-single .people li img {
  width: 50px;
  height: 50px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.project-single .people li a {
  padding-left: 25px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.project-single .people li a:after {
  padding: 0 10px;
  content: '/';
}
.project-single .people li ul {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.project-single .people li ul li {
  text-transform: lowercase;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border: none;
}
.project-single .right-side {
  float: left;
  width: 70%;
  height: 100%;
  background-color: #f3f3f3;
}
.project-single .right-side .container {
  width: 90%;
  margin: 35px auto;
  font: 16px HelveticaNeue;
}
.project-single .right-side .category {
  width: 100%;
  padding-bottom: 30px;
}
.project-single .right-side .category:before {
  content: "";
  height: 12px;
  width: 12px;
  display: block;
  background: url(../img/tag.png) left center no-repeat;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding-right: 15px;
}
.project-single .right-side .category li {
  text-transform: lowercase;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.project-single .right-side .category li:after {
  content: ",";
}
.project-single .right-side .category li:last-child:after {
  content: " ";
}
.project-single .files-section li {
  padding-bottom: 30px;
}
.project-single .files-section li h4 {
  color: #b9b9b9;
  text-transform: lowercase;
  padding-bottom: 12px;
  border-bottom: 1px solid #e6e6e6;
}
.project-single .files-section li ul li {
  padding-top: 12px;
  padding-bottom: 0;
}
.project-single .files-section li ul li .icon {
  position: relative;
  width: 44px;
  height: 44px;
  display: block;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fff;
}
.project-single .files-section li ul li .icon:before {
  content: "";
  position: absolute;
  left: 13px;
  bottom: 11px;
  width: 19px;
  height: 18px;
  display: block;
  background: url(../img/download-icon.png) center center no-repeat;
}
.project-single .files-section li ul li .icon:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 13px;
  margin: auto;
  width: 14px;
  height: 26px;
  display: block;
  background: url(../img/download-icon-arrow.png) center center no-repeat;
}
.project-single .files-section li ul li a {
  line-height: 45px;
  vertical-align: top;
  padding-left: 20px;
  color: #56bcd7;
}
.project-single .files-section li ul li:hover .icon {
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
  background-color: #56bcd7;
}
.project-single .files-section li ul li:hover .icon:before {
  content: "";
  position: absolute;
  left: 13px;
  bottom: 11px;
  width: 19px;
  height: 18px;
  display: block;
  background: url(../img/download-icon-hover.png) center center no-repeat;
}
.project-single .files-section li ul li:hover .icon:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 13px;
  margin: auto;
  width: 14px;
  height: 26px;
  display: block;
  background: url(../img/download-icon-arrow-hover.png) center center no-repeat;
}
/* Homepage
*******************************/
/* Pages
*******************************/
/* 13'
*******************************/
@media (max-width: 1400px) {
  /* Projects List
	*******************************/
  .grid-view .result-item {
    width: 25%;
  }
  /* Members List
	*******************************/
  .member-item {
    width: 20%;
  }
}
/* Mobile
*******************************/
@media (max-width: 960px) {
  /* Projects List
	*******************************/
  .grid-view .result-item {
    width: 50%;
  }
  /* Members List
	*******************************/
  .member-item {
    width: 25%;
  }
}
@media (max-width: 768px) {
  /* Projects List
	*******************************/
  .list-view .result-header {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .list-view .result-item {
    border-bottom: 1px solid #d6d6d6;
  }
  .list-view .result-meta-inner {
    display: block;
  }
  .list-view .result-meta-inner .name,
  .list-view .result-meta-inner .category,
  .list-view .result-meta-inner .member,
  .list-view .result-meta-inner .date,
  .list-view .result-meta-inner .status {
    display: block;
    padding-left: 35%;
    position: relative;
  }
  .list-view .result-meta-inner .name:before,
  .list-view .result-meta-inner .category:before,
  .list-view .result-meta-inner .member:before,
  .list-view .result-meta-inner .date:before,
  .list-view .result-meta-inner .status:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 30%;
    padding-right: 10px;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
  }
  .list-view .result-meta-inner .name,
  .list-view .result-meta-inner .status {
    width: 100%;
  }
  .list-view .result-meta-inner .name:before {
    content: 'Name';
  }
  .list-view .result-meta-inner .category:before {
    content: 'Category';
  }
  .list-view .result-meta-inner .member:before {
    content: 'Member';
  }
  .list-view .result-meta-inner .date:before {
    content: 'Date';
  }
  .list-view .result-meta-inner .status:before {
    content: 'Status';
  }
  /* Members List
	*******************************/
  .member-item {
    width: 33.3333%;
  }
}
@media (max-width: 640px) {
  /* Projects List
	*******************************/
  .grid-view .result-item {
    width: 100%;
  }
  /* Members List
	*******************************/
  .member-item {
    width: 50%;
  }
}
@media (max-width: 480px) {
  /* Members List
	*******************************/
  .member-item {
    width: 100%;
  }
}
